.checkbox {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
  max-height: 0;
}

.checkbox label {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1875rem solid var(--gray-100);
  border-radius: 999px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;

  transition: border-color 0.1s, background-color 0.1s;
}

.checkbox label:after {
  content: "";
  opacity: 0;

  border: 0.125rem solid var(--gray-100);
  border-top: none;
  border-right: none;

  position: absolute;
  left: 0.3125rem;
  top: 0.3125rem;

  height: 0.25rem;
  width: 0.5rem;
  transform: rotate(-45deg);
}

.checkbox input[type="checkbox"]:not(:checked) + label {
  border-color: var(--blue-500);
}

.checkbox input[type="checkbox"]:not(:checked) + label:hover {
  border-color: var(--blue-700);
}

.checkbox input[type="checkbox"]:checked + label {
  border-color: var(--purple-700);
  background-color: var(--purple-700);
}

.checkbox input[type="checkbox"]:checked + label:hover {
  border-color: var(--purple-500);
  background-color: var(--purple-500);
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
